body{
    padding-top: 70px;
    /*position: relative;*/
}

.contact-name{
    font-family: 'Trebuchet MS', Arial, Sans-Serif; 
    font-size: 16pt; 
    font-weight: bold; 
    color: #008080;
}

p {
   font-size: 16px;
}

/*Override the navbar-default colors with color scheme*/
nav {    
    background-color: #77a92d;
    border-color: #b3ec5f;
}

.nav-item .active {
    color: #021105;
    background-color: #b3ec5f;
    border-color: #b3ec5f;
    font-weight: normal;
    border: 1px solid #f0f0f0;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
}

.nav > li {
    position: relative;
    display: block;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:focus { 
    color: azure;
}

.banner {
    height: auto;
    width: 100%;
    border-bottom: inset;
    margin-bottom: 22px;
}

.ebplogo {
    padding-bottom: 30px;
    padding-top: 30px;
}