body {
    padding-top: 70px;
    /*position: relative;*/
}

.contact-name {
    font-family: 'Trebuchet MS', Arial, Sans-Serif;
    font-size: 16pt;
    font-weight: bold;
    color: #008080;
}

p {
    font-size: 16px;
}

/*Override the navbar-default colors with color scheme*/
nav {
    background-color: #77a92d;
    border-color: #b3ec5f;
}

.nav-item .active {
    color: #021105;
    background-color: #b3ec5f;
    border-color: #b3ec5f;
    font-weight: normal;
    border: 1px solid #f0f0f0;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
}

.nav > li {
    position: relative;
    display: block;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:focus {
    color: azure;
}

.banner {
    height: auto;
    width: 100%;
    border-bottom: inset;
    margin-bottom: 22px;
}

.ebplogo {
    padding-bottom: 30px;
    padding-top: 30px;
}

.ebptext {   
    font-weight: bold;
}

.navbar .brand-ebp {
	display: none;
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	background: url(../img/rd-logo-bianco.png) no-repeat  center 70%;
	width: 150px;
    height: 40px;
	top: 3px;
	background-size: 100%;
	text-indent: -9999px;
	display: block;
	margin: 0;
	margin-top: 0;
	padding: 0;
	position: absolute;
}

#freeConsForm {
    background-color: #DEE1E3;
    margin: 3px 2px;
}

#freeConsForm .btn {
    padding: 4px 6px;
    margin-top: 5px;
}

#freeConsForm input {
    font-size: small;
    background-color: #f0f0f0;
    padding: 4px 6px;
}

.footer-column {
    padding: 5px 0;
}

.footer-contact-form {
    padding-bottom: 5px;
}
